.container {
  min-height: 100vh;
  padding: 2% 30%;
}

img {
  width: 100%;
  border-radius: 10px;
}

.inputs {
  margin: 48px 16px;
  --inputBackground: #e9e9ed;
}
.inputs .error {
  color: var(--errorColor);
}
.inputs .success {
  color: var(--primary);
}
.inputs input,
.inputs textarea {
  margin: 8px 0;
  width: calc(100% - 16px);
}
.inputs button {
  width: 200px;
  margin: 16px calc(50% - 108px);
}

@media screen and (max-width: 960px) {
  .container {
    padding: 2% 16px;
  }
}
