div {
  width: 80px;
  background-color: #F3F3F7;
  height: 100%;
}
div.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: red;
}
div.expanded {
  width: 200px;
}
div.expand {
  animation-duration: 50ms;
  animation-name: expand;
}
div.shrink {
  animation-duration: 50ms;
  animation-name: shrink;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.container .expand {
  box-sizing: border-box;
  height: 80px;
  font-size: 25px;
  padding: 25px;
}
.container .expand :hover {
  color: var(--primary-dark);
}

.scrollable {
  width: 100%;
  overflow: auto;
}

@keyframes expand {
  from {
    width: 80px;
  }
  to {
    width: 200px;
  }
}
@keyframes shrink {
  from {
    width: 200px;
  }
  to {
    width: 80px;
  }
}
