.container {
  position: relative;
  border-radius: 6px;
  background: var(--cardColor);
}
.container ::ng-deep > * div.fluid-item {
  border-bottom: 1px solid #E9E9ED;
}
.container ::ng-deep > *:last-child div.fluid-item {
  border-bottom: none;
}
