.container {
  display: flex;
  justify-content: space-evenly;
  margin: 32px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep h1 {
  margin: 12px 0;
  font-size: 54px;
  color: var(--primary);
  font-weight: 900;
}

:host ::ng-deep img {
  width: 20%;
}

:host ::ng-deep h3 {
  margin: 6px 0;
  font-size: 26px;
  color: #494953;
  font-weight: 800;
}

:host ::ng-deep p {
  margin: 24px 0;
  font-size: 18px;
  color: #767680;
  width: 80%;
}

:host ::ng-deep .spacer {
  flex-grow: 1;
}

@media screen and (max-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
  }

  :host ::ng-deep img {
    width: 60%;
    margin: 16px;
  }

  .container {
    margin: 8px 4px;
  }

  .banner {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
  }
}
