#card .split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result {
  position: absolute;
  right: 5%;
  margin-top: -37%;
  width: calc(100% / 6);
  border: 8px solid #505050;
  text-align: center;
}

#convertIcon {
  position: absolute;
  right: 35%;
  margin-top: -32%;
  height: 50px;
  text-align: center;
  font-size: 50px;
}

.centered {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.output button {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
}
.output textarea {
  width: 90%;
  height: 90%;
  resize: none;
}
.output:hover button {
  display: block;
}
