fluid-appbar {
  --appbar-background: white;
  --appbar-text: black;
  border-bottom: 1px solid #f3f3f7;
}

[trailing] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  --inputBackground: #f3f3f7;
}
[trailing] * {
  margin: 0 8px;
  min-width: 80px;
}

.logo-title {
  position: relative;
  margin-left: -16px;
}
.logo-title p {
  position: absolute;
  top: 3px;
  right: 9px;
  font-weight: 700;
  color: white;
  font-size: 17px;
}

.links {
  display: flex;
  flex-direction: row;
}
.links a {
  padding: 0 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.links a:hover {
  color: var(--primary);
}
.links div:nth-child(1n+2) {
  border-left: 1px solid #f3f3f7;
}

@media screen and (max-width: 960px) {
  .links {
    display: none;
  }
}
