:host {
  /* modals are hidden by default */
  display: none;
}
:host.fluidModal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  display: block;
  overflow: hidden;
}
:host .modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  background: #fff;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: auto;
  max-height: 80vh;
  min-width: 650px;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
:host .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  font-size: 12pt;
  background: #f8f8fc;
  margin-bottom: -1px;
  /* margin exposes part of the modal background */
}
:host .modal-header fluid-icon {
  color: var(--primary);
  cursor: pointer;
}
:host .modal-header fluid-icon:hover {
  color: var(--primary-darker);
}
:host .modal-body {
  padding: 40px;
  height: 100%;
  /* margin exposes part of the modal background */
}
:host .modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.45;
  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}
